/* PAGE CONTACTO */
.contacto h2 {
    font-size: 2rem;
}

.imgContacto {
    display: none;
}

.formContacto {
    @extend %template-center;
    gap: 10px;
    font-size: 0.8rem;
    text-align: center;
}

#textoUsuario {
    text-align: center;
    background-color: $bg-tarjeta-color2;
    border-color:$white-color;
    color:$white-color;
}