/* PAGE EXPERIMENTOS */
h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.articleExperimentos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
}

article h3{
    color:$lila-color;
}