.inputSearch {
    @extend %template-inputs;
    font-size: 0.8rem;
    padding: 5px;
    width: 140px;
    padding: 5px;

    @include mq-desktop {
        display: flex;
        width: 100%;
    }
}

%template-inputs {
    font-family: $ff-ADLaMDisplay;
    color: $white-color;
    background-color: $input-bg-color;
    border: solid 1px;
    border-radius: 20px;
}


.tarjetaSuscribite input {
    @extend %template-inputs;
    padding: 10px;

    @include mq-desktop {
        text-align: center;
        align-items: center;
        width: 50%;
        padding: 20px;
        border-radius: 30px;
    }
}

form input {
    @include flex-center;
    @extend %template-inputs;
    padding: 10px;
    font-size: 0.7rem;

    &:hover {
        background-color: $input-bg-color2;
    }
}