/* iconos */

.iconController {
    font-size: 3rem;
    color: $white-color;
}

.icon {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 3rem;
    color: $lila-color;
}

.iconSearch {
    font-size: 1.5rem;
}

.iconEmail,
#iconLoveUs,
.iconInstagram {
    font-size: 3rem;
}

.logo {
    font-size: 3rem;
    border-radius: 50%;
    @include flex-center;
}


.iconInput {
    display: flex;

    @include mq-desktop {
        margin: 10px;
        padding: 10px;
        align-items: center;
    }
}


.icon p {
    color: $black-color;
    font-size: 0.5rem;
}